html,body{
    width: 100%;
    padding: 0;
    margin:0;
    height: 100%;
    overflow: hidden;
}
body{
    font-family: "微软雅黑";
}
a{
    text-decoration: none;
}
header{
    width: 100%;
    height: 60px;
    background: #168bd8;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}
section{
    position: relative;
}
.fullpage{
    width: 100%;
    height: 100%;
}
.fullpage section{
    width: 100%;
    height: 100%;
}
.fullpage section:nth-child(1){
    background: url(../img/bj1.jpg) no-repeat;
}
.fullpage section:nth-child(2){
    background: url(../img/bj2.jpg) no-repeat;
}
.fullpage section:nth-child(3){
    background: url(../img/bj3.jpg) no-repeat;
}
.fullpage section:nth-child(4){
    background: url(../img/bj4.jpg) no-repeat;
}

/*头部*/
.header{
    width: 1000px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
}
.header a{
    color: #fff;
}
.logo{
    display: inline-block;
    margin-bottom: 10px;
    width: 120px;
    height: 40px;
    margin-left: 10px;
    background: url("../img/head.png") no-repeat -2px 0;
}
.index{
    font-size: 15px;
    margin-bottom: 0px;
}
.index:hover{
    color: #67cbff;
}
.index:nth-of-type(2){
    margin-left: 0px;
}
.index-right{
   margin-bottom: 0px;
}
.index-right:nth-of-type(5){
    margin-left: 0px;
}
.index-right:last-of-type{
    color: #fff;
}
i{
    display: inline-block;
    width: 32px;
    height: 25px;
    background: url("../img/head.png") -88px -154px;
}

.logins{
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 266px;
}

form{
    padding-top: 26px;
}
.login-info{
    padding: 0 20px;
}
.account{
    width: 299px;
    height: 40px;
    background: #fff;
}
.account span{
    width: 14px;
    height: 14px;
    margin: 12px 3px 0 10px;
    float: left;
    background: url("../img/icons.png") no-repeat -124px -12px;
}
.account input{
    width: 252px;
    border: 0;
    outline: none;
    padding: 9px;
    height: 20px;
    float: left;
    font-family: "微软雅黑";
    color: #A9A9A9;
}
.password{
    margin-top: 20px;
}
.password span{
    background: url("../img/icons.png") no-repeat -140px -12px;
}
.token{
    width: 300px;
    height: 39px;
    margin-top: 33px;
}
.token input{
    border:0;
    outline: none;
    width: 122px;
    height: 20px;
    padding: 9px;
    background: #fff;
    font-family: "微软雅黑";
    color: #A9A9A9;
    float: left;
}
.token img{
    width: 99px;
    height: 39px;
    margin-left: 10px;
    float: left;
    opacity: .6;
}
.token a{
    float: left;
    margin: 10px 0 0 10px;
    font-size: 12px;
    color: #fff;
}
.login-action{
    width: 340px;
    height: 86px;
    border: 0;
    background: 0 0;
    border-radius: 3px;
    padding: 0 20px;
    margin-top: 20px;
    box-sizing: border-box;
}
.login-action input{
    border: 0;
    background: #ffd850;
    color: #5c4c12;
    border-radius: 2px;
    width: 299px;
    margin-top: 12px;
    display: block;
    padding: 0 10px;
    font-size: 18px;
    line-height: 35px;
    text-align: center;
    border: 0;
    outline: none;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}
.other{
    margin: 12px 0 8px;
    font-size: 12px;
    color: #9dbcdb;
}
.f1{
    float: left;
}
.f1 span{
    display: inline-block;
    width: 15px;
    height: 17px;
    margin: 2px 4px 0 0;
    background: url("../img/icons.png") no-repeat -203px -75px;
}
.f1{
    display: flex;
    align-items: center;
}
.f1 a{
    color: #fff;
}
.f1 a:hover {
    color: #fff;
    text-decoration: underline;
}
.fr{
    float: right;
}
.fr a{
    color: #fff;
}
.obj{
    width: 501px;
    height: 158px;
    background: url("../img/word1.png") no-repeat;
    position: absolute;
    left: 0;
    top: -145px;
}
.flight{
    width: 119px;
    height: 78px;
    background: url("../img/flight.png") no-repeat;
    position: absolute;
    top: -150px;
    left: 285px;
    animation: flight 2s ease;
    animation-iteration-count: infinite;
}
@keyframes flight {
    0% {
        top: -150px;
    }
    40% {
        top: -160px;
    }
    100% {
        top: -150px;
    }
}
.fp{
    width: 28px;
    height: 73px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 17px;
    margin: auto 0;
    z-index: 99;
}
.fp a{
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position: relative;
    z-index: 9;
}
.fp a .btn{
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    border: 1px solid #000;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}
.fp a .btn1{
    background: #333;
}
.bottom1{
    height: 126px;
    background: #0d71cd;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: url("../img/bj2.jpg");
}
.hill{
    width: 265px;
    height: 175px;
    background: url("../img/hill1.png") no-repeat;
    position: absolute;
    bottom: 1px;
    left: 0;
}
.hill2{
    width: 63px;
    height: 78px;
    background: url("../img/hill2.png") no-repeat;
    position: absolute;
    bottom: 60px;
    right: 450px;
}
.hill3{
    width: 260px;
    height: 175px;
    background: url("../img/hill3.png") no-repeat;
    position: absolute;
    bottom: 0px;
    right: 40px;
}
.ship{
    width: 242px;
    height: 228px;
    background: url("../img/ship.png") no-repeat;
    position: absolute;
    bottom: 90px;
    left: 320px;
    transform: translate(-30px,0);
    transition: transform 2s ease;
}
.jiao a{
    display: block;
    width: 30px;
    height: 26px;
    background: url("../img/add.png") no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: jiao 2s ease;
    animation-iteration-count: infinite;
}
@keyframes jiao {
    0%{
        opacity: 1;
        top: 20px;
    }
    50%{
        opacity: 0.5;
        top: 30px;
    }
    100%{
        opacity: 1;
        top: 20px;
    }
}
.jiao1 a{
    display: block;
    width: 30px;
    height: 26px;
    background: url("../img/add.png") no-repeat;
    position: absolute;
    /*top: 0;*/
    /*bottom: 0;*/
    left: 0;
    right: 0;
    margin: 0 auto;
    animation: jiao1 2s ease;
    animation-iteration-count: infinite;
}
@keyframes jiao1 {
    0%{
        opacity: 1;
        top: -60px;
    }
    50%{
        opacity: 0.5;
        top: -50px;
    }
    100%{
        opacity: 1;
        top: -60px;
    }
}


.ain{
    width: 66px;
    height: 126px;
    text-indent: -9999em;
    float: left;
    background: url("../img/lx.png") no-repeat;
    transform-style: preserve-3d;
    animation: ain 2s ease;
    animation-iteration-count: infinite;
}
@keyframes ain {

    0% {
        transform: rotateY(0deg);
    }
    40% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }

}
.text{
    margin-left: 86px;
    margin-top: 8px;
}
.text h4{
    font-size: 34px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 15px;
    margin-bottom: 6px;
}
.text p{
    font-size: 19px;
    letter-spacing: 1px;
    line-height: 32px;
    opacity: .8;
}
.bottom2{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

.section-2 .square1{
    position: absolute;
    display: block;
    background: #35b568;
    bottom: 0;
    left: 70px;
    width: 44px;
    height: 44px;
}
.section-2 .square2{
    background: #4ac179;
    left: 158px;
    position: absolute;
    display: block;
    width: 88px;
    height: 88px;
    bottom: 0;
}
.section-2 .square3{
    background: #8ae75a;
    left: 246px;
    width: 44px;
    height: 44px;
    position: absolute;
    display: block;
    bottom: 0;
}
.section-2 .square4{
    background: #8ae75a;
    right: 328px;
    width: 44px;
    height: 44px;
    position: absolute;
    display: block;
    bottom: 0;
}
.section-2 .square5{
    background: #4ac179;
    right: 240px;
    width: 44px;
    height: 44px;
    bottom: 0;
    position: absolute;
    display: block;
}

.quanmian{
    background: url("../img/qm.png") no-repeat;
}
.section-3 .square1{
    background: #33bb9a;
    left: 70px;
    top: 60px;
    position: absolute;
    display: block;
    width: 88px;
    height: 88px;
}
.section-3 .square2{
    background: #29a2b8;
    left: -18px;
    top: 148px;
    position: absolute;
    display: block;
    width: 88px;
    height: 88px;
}
.section-3 .square3{
    background: #60cf6e;
    left: 158px;
    top: 148px;
    position: absolute;
    display: block;
    width: 88px;
    height: 88px;
}
.section-3 .square4{
    background: #8ae75a;
    left: 70px;
    top: 236px;
    width: 176px;
    height: 176px;
    position: absolute;
    display: block;
    background: url("../img/square.jpg") no-repeat;
}
.section-3 .square5{
    background: #33bb9a;
    left: 246px;
    top: 236px;
    position: absolute;
    display: block;
    width: 88px;
    height: 88px;
}
.bottom3{
    position: absolute;
    width: 100%;
    height:138px;
    left: 0;
    bottom: 0;
    background: url("../img/bottom.png") no-repeat;
}

.zhuanye{
    background: url("../img/zhuanye.png") no-repeat;
}
.obj-bubble{
    position: absolute;
    left: 5px;
    top: 160px;
    width: 275px;
    height: 245px;
    background: url("../img/bubble.png") no-repeat;
}
.bottom4{
    position: absolute;
    width: 100%;
    height:80px;
    left: 0;
    bottom: 0;
}
.copyright {
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 80px;
    font-family: 'Microsoft Yahei';
}
.copyright a{
    color: #fff;
}
.max{
    display: none;
}
.min{
    display: flex;
}
.min-right{
    width: 20px;
    height: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto 0;
    cursor: pointer;
}
.top-line{
    width: 20px;
    height: 2px;
    position: absolute;
    top: 10px;
    background: #fff;
    transition: transform .8s ease;
}
.bottom-line{
    width: 20px;
    height: 2px;
    position: absolute;
    bottom: 10px;
    background: #fff;
    transition: transform .8s ease;
}
.scence{
    width: 100%;
    position: absolute;
    top: 60px;
    perspective: 800px;
}
.cd{
    width: 100%;
    transform-style: preserve-3d;
}
.cd a{
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #000;
    opacity: 0;
    transform:rotateX(-90deg);
}
.cd a:hover{
    color: #67cbff;
}
@keyframes cd {
    0%{
        opacity: 0;
        transform:rotateX(-90deg);
    }
    100%{
        opacity: 0.8;
        transform:rotateX(0deg);
    }
}
@keyframes cd1 {
    0%{
        opacity: 0.8;
        transform:rotateX(0deg);
    }
    100%{
        opacity: 0;
        transform:rotateX(-90deg);
    }
}
.cloud1{
    width: 200%;
    animation: cloud 20s linear infinite;
}
.cloud1 .cloud-one{
    width: 50%;
    height: 200px;
    float: left;
    background: url("../img/cloud1.png") no-repeat;
}
.cloud1 .cloud-two{
    width: 50%;
    height: 200px;
    float: left;
    background: url("../img/cloud1.png") no-repeat;
}
.cloud2{
    width: 200%;
    animation: cloud 30s linear infinite;
}
.cloud2 .cloud-one{
    width: 50%;
    height: 200px;
    float: left;
    background: url("../img/cloud2.png") no-repeat;
}
.cloud2 .cloud-two{
    width: 50%;
    height: 200px;
    float: left;
    background: url("../img/cloud2.png") no-repeat;
}
.cloud3{
    width: 200%;
    animation: cloud 18s linear infinite;
}
.cloud3 .cloud-one{
    width: 50%;
    height: 100px;
    float: left;
    background: url("../img/cloud3.png") no-repeat;
}
.cloud3 .cloud-two{
    width: 50%;
    height: 100px;
    float: left;
    background: url("../img/cloud3.png") no-repeat;
}
@keyframes cloud {
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(-50%,0);
    }
}
.obj{
    display: none;
}
.center2{
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.obj-brain{
    display: none;
    width: 444px;
    height: 427px;
    background: url("../img/brain.png") no-repeat;
    position: absolute;
    right: 60px;
    top: 120px;
}
.allside{
    display: none;
    width: 444px;
    height: 330px;
    position: absolute;
    right: 60px;
    top: 180px;
    background: url("../img/allside.png") no-repeat;
}
.obj-stat{
    display: none;
    width: 603px;
    height: 361px;
    position: absolute;
    background: url("../img/stat.png") no-repeat;
    top: 170px;
    right: 60px;
}
.obj-r{
    transform: translate(50px,0);
    trnasition:transform 1s ease,opacity 1s ease;
    opacity: 0;
}

@media screen and (max-width:1000px){
    .login-area{
        width: 340px;
        height: 300px;
        border-radius: 5px;
        background: #4ebffc;
        position: absolute;
        top:-131px;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 9;
    }
    .title{
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 200px;
        font-family: 'Microsoft Yahei';
        color: #fff;
        width: 470px;
        z-index: 9;
    }

}




@media screen and (min-width:1000px){
    .max{
        display: flex;
    }
    .min{
        display: none;
    }
    .logo{
        margin-left: 0px;
    }
    .index{
        font-size: 15px;
        margin-bottom: 10px;
    }
    .index:nth-of-type(2){
        margin-left: 50px;
    }
    .index-right{
        margin-bottom: 5px;
    }
    .index-right{
        font-size: 12px;
    }
    .index-right:nth-of-type(5){
        margin-left: 200px;
    }
    .index-right:last-of-type{
        color: #FFDA28;
    }
    .obj{
        display: block;
    }
    .logins{
        width: 1000px;
    }
    .login-area{
        width: 340px;
        height: 300px;
        border-radius: 5px;
        background: #4ebffc;
        position: absolute;
        top:-131px;
        right: 0;
    }
    .obj-brain {
        display: block;
    }
    .title{
        position: absolute;
        left: 30px;
        top: 200px;
        font-family: 'Microsoft Yahei';
        color: #fff;
        width: 500px;
        transform: translate(-50px,0);
        opacity: 0;
        trnasition:transform 1s ease,opacity 1s ease;
        z-index: 9;
    }
    .allside {
        display: block;
    }
    .obj-stat {
        display: block;
    }
    .center2{
        width: 1000px;
        margin: 0 auto;
        position: relative;
    }


}